/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(254, 250, 241);
  }
  
  /* Header */
  .header {
    width: 100%;
    height: 70px;
    background-color: rgba(244,237,221);
    border-bottom: 1px solid #ddd;
    padding: 10px 40px;
    top: 0;
    z-index: 1000;
    display: flex;
    box-shadow: #333 0px 0px 4px;
    position: sticky;
  }
  
  .header-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header:hover {
    visibility: visible;
  }

  /* Logo */
  .logo img {
    height: 80px;
    cursor: pointer;
    margin: 0;
  }
  
  /* Navegação */
  .nav-links {
    display: flex;
    gap: 50px;
  }
  
  .nav-links a {
    font-family: Poppins;
    font-weight: bold;
    text-decoration: none;
    color: #294d2c;
    font-weight: 500;
    font-size: 19px;
    transition: color 0.3s;
  }
  
  a {
    text-decoration: none; /* remove sublinhado */
    color: inherit; /* herda a cor do h3 */
  }

  .nav-links a:hover {
    color: #5dad62; /* muda para azul no hover (você pode trocar pela cor da sua marca) */
    transform: scale(1.05);
  }
  
  /* Ícones */
  .header-icons {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .header-icons a {
    color: #294d2c;
    font-size: 22px;
    transition: color 0.3s;
  }
  
  .header-icons a:hover {
    color: #5dad62;
    transform: scale(1.05);
  }
  
  .banner img {
    width: 98.5vw;
    height: 75vh;
    margin: 0;
  }

.banner  {
  display: flex;
  justify-content: center;
}

.categories {
  margin: 60px 0;
  padding: 0 5%;
}

.categories-titles {
  display: flex;
  justify-content: center;
  gap: 120px;
  margin: 40px;
  text-align: center;
}

.categories-titles h2 {
  font-size: 20px;
  font-weight: 600;
  position: relative;
}

.category {
  font-weight: bold;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s ease-in-out;
}

.category::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s;
}

.category:hover {
  transform: scale(1.05);
}

.category.active::after {
  background-color:rgb(153, 140, 111);
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.category-item {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.category-item:hover {
  transform: scale(1.05);
}

.category-img {
  background-color: #ddd;
  width: 100%;
  height: 200px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.category-item h3 {
  font-size: 18px;
  color: #2b5a2b;
  margin-bottom: 5px;
}

.category-item p {
  font-size: 16px;
  color: #555;
}

footer {
  background-color: rgb(31, 26, 21);
  color: #f8f8f8;
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.copy {
  text-align: center;
  margin-top: 20px;
}